@import url('https://fonts.googleapis.com/css?family=Sorts+Mill+Goudy&display=swap');
html, body {
  background-color: #000000;
  background: -webkit-linear-gradient(#234, #111);
  font-size: 1em;
  font-family: sans-serif;
  color: rgba(255, 255, 255, 0.60);
  text-align: center;
  line-height: 1.8em;
  padding: 10px;
  margin: 0;
}

.center {
  text-align: center;
}

a:link, a:visited, a:hover {
  color: rgb(146,146,146);
  text-decoration: none;
}

a:hover {
text-decoration: underline;
text-underline-offset: 5px;
color: #ddd;
}


#content {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

#brand {
  width: 26%;
  padding: 0;
  opacity: 98%;
   max-width: 325px; 
  mix-blend-mode: screen;
}

#instructions {
  font-size: .9em;
  line-height: 1.4em;
}

#text {
  margin-top: 20px;
}

#quote {
  padding-top: 20px;
  margin: 0 auto;
  max-width: 650px;
  font-size: 28px;
  font-family: "Sorts Mill Goudy", serif;
  line-height: 42px;
  background: -webkit-linear-gradient(#fff, #bbb);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#title {
font-size: 27px;
padding-top: 69px;
padding-bottom: 22px;
display: inline-block;
text-transform: uppercase;
font-family: "Sorts Mill Goudy";
color: #eee;
letter-spacing: 10px;
}

#subtitle, #subtitle > a {
  font-size: 14px;
}

#footer-links {
  font-size:15px;
}

#privacy {
  margin: 50px;
  text-align: left;
  line-height: 30px;
}


/* Media Queries */

@media screen and (max-width: 625px) {

  #brand {
    width: 70%;
  }

  #quote {
    font-size: 19px;
  }

  #text {
    margin-top: 16px;
    font-size: 13px;
  }

  #title {
    font-size: 17px;
    padding-top: 32px;
    padding-bottom: 40px;
    letter-spacing: 4px;
  }

  #subtitle {
    font-size: 14px;
  }

  #footer-links {
    font-size: 13px;
  }

}
